//.font-light-blue {
//  color: #31A2BF;
//}
//
//.font-blue {
//  color: #2e8b9c;
//}
//
//.font-dark-blue {
//  color: #14718a;
//}
//
//.font-grey-blue {
//  color: #6e949c;
//}
//
//.font-grey {
//  color: #777777;
//}
//
//.font-dark-grey {
//  color: #3e3c3b;
//}
//
//.font-off-white {
//  color: #fbf2e1;
//}
//
//.font-orange {
//  color: #f7881f;
//}
//
//.font-dark-orange {
//  color: #F36525;
//}
//
//.font-white,
//a.font-white {
//  color: #ffffff !important;
//}
//
//.font-gold {
//  color: #FBAD17;
//}
//
//.font-dark-brown,
//i.font-dark-brown {
//  color: #67250D;
//  border-color: #67250D;
//}
//
//.font-shadowed {
//  text-shadow: 2px 2px 5px #000;
//}
//
//.bg-light-blue {
//  background-color: #EBF4F7;
//}
//
//.bg-dark-brown {
//  background-color: #45271c;
//}
//
//.bg-gray {
//  background-color: #F9F9F9;
//}
//
//.bg-orange,
//a.bg-orange,
//button.bg-orange {
//  background-color: #f36525;
//}
//
//body {
//  background-color: #f9f9f9;
//}
//
 .bg-dark {
   background-color: #3a2a31;
 }

a.font-orange:hover,
.font-orange {
  color: #FF7A00;
}

a.font-light-blue:hover,
.font-light-blue {
  color: #7bd1ea;
}

a.font-off-white:hover,
.font-off-white {
  color: #e2ddcb;
}

a.font-white:hover,
.font-white {
  color: #ffffff;
}